<%- include ("topoAdmin") %>
<p><b>Digite o Login do Usuario para realizar a Consulta</b></p>
<br>
<form action='/usuarios' method='post'>
    Login do Usuario:<br>
     <input type='text' name='loginUserFiltro' id='LoginUserFiltro'><br>
     <br> <input type='submit' value='Enviar'>
    </form>
<%- include("rodape") %>