<%- include ("topoAdmin") %>
<a href="/">Home</a>
<br>
<p><b>Você está fazendo login como Administrador do site</b></p>
<p><b>Clique abaixo para Cadastrar ou Consultar usuários</b></p>
<p><b>Auditoria de usuários disponível, em <a href="/buscaUser">Consultar Usuarios</a></b></p>
<p><b>Você será redirecionado ao clicar abaixo:</b></p>

<a href="/buscaUser">Consultar Usuarios</a>

<a href="/cadastraUsuario">Cadastrar Novo Usuario</a>

<%- include("rodape") %>