<%- include("topoAdmin") %>
<a href="/">Home</a>
<br>
<br><form action="/siginAdmin" method="post">
<label>Login</label><br>
 <input type="text" name="login" id="login" required><br>
<label>Senha</label><br> 
<input type="password" name="senha" id="senha" required><br>
<br>
<input type="submit" value="Enviar">
<br>
</form>
<%- include("rodape") %>